body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background-color: #2f3b2d;
}
#wrapper {
    width: 1500px;
    background-color: #d7ead9;
    padding: 20px;
    margin:auto;
    
}
header {
    background-color: #312c28;
    color: #fff;
    padding: 10px;
    text-align: center;
}
img {
    display:flex;
    margin:auto;
}
figcaption {
   text-align: center;
   padding-right:500px;
}
section {
	min-height: 80vh;
}
h2{
    text-align: center;
}
p,h3,ul{
    padding-left: 300px;
    padding-right: 300px;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#topNav h2, p {
  margin: 10px;
}

#topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#topNav ul li {
  float: left;
  border-right:1px solid #bbbbbb;
}

#topNav ul li:last-child {
  border-right: none;
}

#topNav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topNav ul li a:hover:not(.active) {
  background-color: #111111;
}

#topNav ul li a.active {
  background-color: #04AA6D;
}

#center {
    text-align: center;
    align-items: center;
    min-height: 700px;
}

